<div class="container mt-4">
  <div class="row">
    <h3 class="pl-3 pr-3">{{user.username | titlecase}}, {{user.age}}</h3>
  </div>
  <div class="row">
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="p-4">
          <img src="{{user.profilePhotoUrl}}" alt="{{user.username}}" class="card-img-top rounded-circle">
        </div>
        <div class="card-body">
          <div>
            <p>{{user.about}}</p>
          </div>
          <hr>
          <div>
            <strong>Lokalizacja:</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Liczba szczytów:</strong>
            <p>liczba</p>
          </div>
          <div>
            <strong>Ostatnio zdobyte:</strong>
            <p>5 ostatnich</p>
          </div>
        </div>
        <div class="card-footer" *ngIf="user.pageUrl || checkProfileOwner()">
          <div class="btn-group d-flex" *ngIf="user.pageUrl">
            <a href="{{user.pageUrl}}" target="_blank" class="btn btn-primary w-100">Strona www</a>
          </div>
          <div *ngIf="checkProfileOwner()">
            <hr *ngIf="user.pageUrl">
            <div class="btn-group d-flex">
              <a [routerLink]="['/user/edit']" class="btn btn-outline-secondary btn-sm w-100 mr-1" href="/">Edytuj profil</a>
              <a [routerLink]="['/user/addsummits']" class="btn btn-outline-info btn-sm w-100" href="/">Dodaj szczyty</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 mb-4">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Zdobyte szczyty">
            <p>szczyty</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>